In [8]:
class C:
    def __init__(self):
        self._x = None

    def getx(self):
        return self._x

    def setx(self, value):
        self._x = value

    def delx(self):
        del self._x

    x = property(getx, setx, delx, "I'm the 'x' property.")

In [9]:
c = C()
c

In [21]:
c.x = 24

In [19]:
del c.x

In [23]:
c.x

24

In [22]:
c.getx()

24

In [37]:
class Parrot:
    def __init__(self):
        self._voltage = 100000

    @property
    def voltage(self):
        """Get the current voltage."""
        return self._voltage

In [38]:
a = Parrot()
a

In [40]:
a.voltage

100000

In [96]:
class C:
    def __init__(self):
        self._x = None

    @property
    def x(self):
        """I'm the 'x' property."""
        return self._x

    @x.setter
    def x(self, value):
        self._x = value

    @x.deleter
    def x(self):
        del self._x

In [97]:
c = C()
c

In [100]:
c.x = 24

In [60]:
del c.x

In [102]:
c.x

24

In [79]:
@property
def justin():
    return 'justin'

In [91]:
justin.fget is justin

False

In [1]:
import pandas as pd
pd

In [8]:
data = pd.read_pickle('../data_root/datasets/X_test.pkl')
data.shape

(2000, 1267)

In [9]:
data.head()

,price,country_Argentina,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,country_Cyprus,...,variety_Viognier-Marsanne,variety_Vitovska,variety_Viura,variety_Viura-Chardonnay,variety_Weissburgunder,variety_White Blend,variety_Xarel-lo,variety_Xinomavro,variety_Zinfandel,variety_Zweigelt
9394,40.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
898,16.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
2398,15.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
5906,30.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,1,0,0,0,0
2343,20.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0