In [1]:
import pandas as pd
pd

In [8]:
data = pd.read_pickle('../data_root/datasets/X_train.pkl')
data.shape

(8000, 1267)

In [9]:
data.head()

,price,country_Argentina,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,country_Cyprus,...,variety_Viognier-Marsanne,variety_Vitovska,variety_Viura,variety_Viura-Chardonnay,variety_Weissburgunder,variety_White Blend,variety_Xarel-lo,variety_Xinomavro,variety_Zinfandel,variety_Zweigelt
7389,21.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9275,30.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2995,55.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5316,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
356,50.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0