In [2]:
my_list = ['yes', 'no', 'hello']

In [4]:
with open('log.txt', 'w') as f:
    for item in my_list:
        f.write("%s\n" % item)

In [1]:
import pandas as pd
pd

In [4]:
data = pd.read_pickle('../data_root/datasets/X_test.pkl')
data.shape

(2000, 1267)

In [5]:
data.head()

,price,country_Argentina,country_Australia,country_Austria,country_Brazil,country_Bulgaria,country_Canada,country_Chile,country_Croatia,country_Cyprus,...,variety_Viognier-Marsanne,variety_Vitovska,variety_Viura,variety_Viura-Chardonnay,variety_Weissburgunder,variety_White Blend,variety_Xarel-lo,variety_Xinomavro,variety_Zinfandel,variety_Zweigelt
9394,40.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
898,16.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
2398,15.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0
5906,30.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,1,0,0,0,0
2343,20.0,0,0,0,NaN,0,0,0,NaN,NaN,...,NaN,NaN,0,NaN,0,0,0,0,0,0

In [16]:
from xgboost import XGBRegressor

In [21]:
X_valid = pd.read_pickle('../data_root/datasets/X_test.pkl')
X_valid.shape

(2000, 1267)

In [22]:
y_valid = pd.read_pickle('../data_root/datasets/y_test.pkl')
y_valid.shape

(2000,)

In [39]:
model_1 = XGBRegressor()
model_1

XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             random_state=None, reg_alpha=None, reg_lambda=None,
             scale_pos_weight=None, subsample=None, tree_method=None,
             validate_parameters=None, verbosity=None)

In [41]:
model_1.load_model('../data_root/model/model.json')
model_1

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='auto', validate_parameters=1, verbosity=None)

In [42]:
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error, r2_score

# Get predictions
predictions_1 = model_1.predict(X_valid)

# Calculate MAE
mae_1 = mean_absolute_error(predictions_1, y_valid)
print("MAE:" , mae_1)

MAE: 1.8436909980773926